@model AddrBk_GeographicalGroup

<div>
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="addrbk_organization_details_menu">
                    <li class="active"><a class="btn btn-link" href="#" onclick="fillMenu('@Url.Action("Index", "AddrBkGeographicalGroupMember", new { organizationId=Model.Id,orgName=Model.Title})','#addrbk_organization_details_content')">Members</a></li>
                </ul>
            </div>
        </div>
        <div class="span9" id="addrbk_organization_details_content">
            @Html.Action("Index", "AddrBkGeographicalGroupMember", new { organizationId=Model.Id,orgName=Model.Title})
        </div>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-warning">Back to list</a>
</div>